<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= render "layouts/errors", object: @user %>
      <%= form_with model:@user, local:true do |f| %>
        <div class="edit-contents form-group">
          <%= f.label :name, 'Name', class: "user_name" %>
          <%= f.text_field :name, class: "edit-user-text form-control" %>
        </div>
        <div class="edit-contents form-group">
          <%= f.label :profile_image, 'Image', class: "inputImage" %>
          <%= f.attachment_field :profile_image, class: "form-control-file profile_image" %>
        </div>
        <div class="edit-contents form-group">
          <%= f.label :introduction, 'Introduction', class: "user_profile" %>
          <%= f.text_area :introduction, class: "edit-user-text form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update User', class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>